/* .card-container {
  max-height: 350px;
  overflow-y: auto;
  padding: 15px;
} */

* {
  font-family: 'Montserrat', sans-serif;
}

#editButton {
  visibility: hidden;
}


.container {
  border-radius: 8px; 
}


/* Styling for the details */
#quest-details-container {
  text-align: left;
  /* Align text to the left for details */
  margin: 20px auto;
}

