.search-container {
    background-color: #fdf5e6;
    /* Parchment-like background */
    padding: 20px;
    /* border: 2px solid #8c6a44; */
    /* Gold border */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    margin-bottom: 20px;
    text-align: center;
}

.Logo-Home {
    display: flex;
    align-items: center;
    background-color: #e4d3b3;
    /* Soft parchment color */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo-icon {
    width: 20%;
    height: 20%;
    margin-right: 10%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #8c6a44;
    /* Gold border */
}

#navbarPlaceholder {
    background-color: #4b3b2f; /* Dark wood color */
    color: #d4af37; /* Gold accents */
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #8c6a44; /* Gold border */
  }
  
  .custom-navbar {
    background-color: #fdf5e6; /* Matches body background */
    color: #4b3b2f; /* Dark text color for contrast */
    border-bottom: 3px solid #8c6a44; /* Gold border for styling */
  }
  
  
  a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: #f7d883; /* Lighter gold */
    text-decoration: underline;
  }

  .profile-button {
    display: inline-block; /* Ensures the <a> tag behaves like a block */
    text-decoration: none; /* Removes underline from the link */
  }
  
  .nav-button {
    display: flex;
    align-items: center;
    /* background-color: #e4d3b3; Soft parchment color */
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer; /* Adds pointer cursor to indicate clickability */
  }
  
  .nav-button:hover {
    transform: translateY(-3px); /* Slight lift effect on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
  }
  
  
  .nav-button h1 {
    font-family: 'Cinzel Decorative', serif;
    color: #4b3b2f; /* Dark wood color */
    margin: 0; /* Remove margin */
  }
  
  .form-group ::placeholder {
  opacity: 0.6;
  }