/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
 body {
  padding-top: 60px; /* Adjust this value to match the height of your navbar */
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* Centers the circle horizontally */
}

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
  max-height: 350px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* Style the individual cards as needed */
.card {
  width: 45%; /* Adjust the width as per your design, leaving a little space for margins */
  margin: 2%; /* Add margin between cards */
}


.profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  margin-right: 8px; /* Spacing between icon and username */
}

#userName {
  font-size: 1rem; /* Adjust font size as needed */
}

.hamburger-icon {
  width: 40px;
  height: 40px;
}

.scrolling-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5;
}

.scrolling-container::-webkit-scrollbar {
  height: 8px;
}

.scrolling-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.catergory {
  margin-top: 20px;
}